DialogueOptionElement {
    flex-grow: 1;
    border-bottom-width: 3px;
    border-bottom-color: #404040;
    margin-top: 3px;
    
    &.last {
        border-bottom-width: 0;
    }
}

.dialogue-option-root {
    display: flex;
    flex-grow: 1;
    padding: 4px;

    .dialogue-option__text-container {
        flex-direction: row;
        margin-bottom: 4px;
    }

    .unity-base-field__label {
        min-width: 64px;
    }

    .unity-text-field__label {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #unity-text-input {
        max-height: 61px;
        font-size: 14px;
        padding: 4px;
    }

    #dialogue-option__remove-button {
        border-radius: 10000px;
        width: 26px;
        height: 26px;
        margin-right: -5px;
        background-color: #622525;

        transition: background-color 80ms ease-in-out;

        &:hover {
            background-color: #7f2f2f;
        }

        &:focus {
            border-color: #7f2f2f;
        }
    }

    #dialogue-option__text-field {
        flex-grow: 1;
    }

    #dialogue-option__is-correct-toggle {
        align-items: flex-start;
        margin-top: 7px;
    }
}